body {
    font-family: 'Noto Sans' !important;
    overflow-x: hidden !important;
}

.bg-light {
    background-color: #030F39 !important;
}

.navbar.bg-dark {
    background: #2A3F83 !important;
}

.card-body {
    background-color: #1D2F5D !important;
}

.align-items-end {
    align-items: center !important;
    
}

.logo {
    background: url("/images/лого.png") no-repeat;
    width: 390px;
    height: 150px;
    display: block;
    text-indent: -9999px;
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

p {
    margin-top: 0 !important;
    margin-bottom: 25px !important;
}

.full {
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin: 0px !important;
    padding: 0px !important;
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block !important;
    }

        .breadcrumbs ol li {
            display: inline-block !important;
        }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100% !important;
    height: 80vh !important;
}

    #hero .container {
        padding-top: 84px !important;
    }

@media (max-width: 991px) {
    #hero {
        height: 100vh !important;
        text-align: center !important;
    }

        #hero .hero-img img {
            width: 50% !important;
        }
}

@media (max-width: 768px) {
    #hero .hero-img img {
        width: 80% !important;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0 !important;
    overflow: hidden !important;
}

/*--------------------------------------------------------------
# Chat
--------------------------------------------------------------*/

#MessageList {
    border: 1px solid gray;
    height: 400px;
    overflow: auto;
    list-style: none;
    padding-left: 0;
    padding: 10px;
}

#TargetUser {
    width: 100%;
}

#Message {
    width: 100%;
}

