@page
@model Daridakr.ProgGuru.Web.Pages.Vacancies.AllModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Daridakr.ProgGuru.Localization
@inject IHtmlLocalizer<ProgGuruResource> L
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@*@section scripts {
    <abp-script src="/Pages/Index.js" />
}*@

<div class="wrapper">
    <div class="content">
        <h1>@L["Vacancies"]</h1>
        <center>
            <img src="~/images/tech_lux_inv.png" width=30% style="margin-top: 70px"/>
            <p>скоро на сайте.</p>
        </center>
    </div>
</div>
