@page

@using Volo.CmsKit.Admin.Web.Pages
@using Volo.CmsKit.Admin.Web.Pages.CmsKit.Tags
@using Volo.CmsKit.Admin.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageSearchBox

@inherits CmsKitAdminPageBase

@model IndexModel

@{
    PageLayout.Content.Title = L["Tags"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:CMS"].Value);
    PageLayout.Content.MenuItemName = CmsKitAdminMenus.Tags.TagsMenu;
}
@section scripts {
    <abp-script src="/client-proxies/cms-kit-common-proxy.js"/>
    <abp-script src="/client-proxies/cms-kit-admin-proxy.js"/>
    <abp-script src="/Pages/CmsKit/Tags/Index.js" />
}

<style>
   .dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    z-index: 1000 !important;
    /* display: none !important; */
    float: left !important;
    min-width: 10rem !important;
    padding: 0.5rem 0 !important;
    margin: 0.125rem 0 0 !important;
    /* font-size: 1rem !important; */
    color: #212529 !important;
    text-align: left !important;
    list-style: none !important;
    background-color: white !important;
    background-clip: padding-box !important;
    border-radius: 0.25rem !important;
}

.dropdown .dropdown-menu
{
    transform: inherit !important;
    visibility: hidden !important;
    display: block !important;
    opacity: 100 !important; 
    top: 100% !important;
    }

ul li {
    color: #030F39 !important;
}

.dropdown-menu.show {
    visibility: visible !important;
}
  </style>

@section content_toolbar {
    @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new { pageName = typeof(IndexModel).FullName })
}

<abp-card class="mb-4">
            <abp-card-body>
                <div id="CmsKitTagsWrapper">
                    <abp-row>
                        <abp-column>
                            @await Component.InvokeAsync(typeof(AbpPageSearchBoxViewComponent))
                        </abp-column>
                    </abp-row>
                </div>
            </abp-card-body>
        </abp-card>

        <abp-card>
            <abp-card-body>
                <abp-table striped-rows="true" id="TagsTable"></abp-table>
            </abp-card-body>
        </abp-card>

<!--   Core JS Files   -->
<script src="~/scripts/core/jquery.min.js" type="text/javascript"></script>
<script src="~/scripts/core/popper.min.js" type="text/javascript"></script>
<script src="~/scripts/core/bootstrap.min.js" type="text/javascript"></script>
<script src="~/scripts/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script src="~/scripts/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/scripts/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="~/scripts/black-dashboard.js?v=1.0.0" type="text/javascript"></script>